<!DOCTYPE html>
<html ng-app='edysquelch'>
<head>
<title>edysquelch</title>
<meta name="lang" content="en" />
<meta http-equiv="Content-Type" content="application/xhtml+xml;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="http://st.pimg.net/cdn/libs/bootstrap/2.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/edysquelch.css" />
<script src="angular.min.js"></script>
</head>

<body ng-controller="edyCtrl">

<p>event seq {{ evq.seq }} que {{ evq.len }}</p>

<div ng-show="shownEvent.id">Event <b>{{ shownEvent.id }}</b>

	<span ng-show="shownEvent.event == 'match'">
	matches fingerprint <b>{{shownEvent.name}}</b>/[<b>{{shownEvent.fplen}}</b>]
	with difference of <b>{{shownEvent.q}}</b>
	</span>
	
	<span ng-show="shownEvent.event == 'sql'">
	unidentified squelch open event
	</span>
	</div>
	
<div ng-show="shownEvent == undefined"><b>Loading...</b></div>
<div style='height: 250px; width: 750px;' id='graph'></div>

<div ng-show="rangeSelected">
<div>
	<span>Selected sample range {{rangeSelected.from}} ...
	{{rangeSelected.to}}, {{ (rangeSelected.to - rangeSelected.from)+1 }}
	samples, {{ rangeSelected.ms }} msec</span>
	<button ng-click="rangeZoom(rangeSelected)">Zoom</button>
	<button ng-click="rangeZoom()">Zoom out</button>
	<button ng-click="fingerprintCreating=1">Create fingerprint</button>
</div>
<div ng-show="fingerprintCreating">
<form name="createForm" novalidate>
<label for="fpname">Name for new fingerprint:</label>
<input type="text" ng-pattern="validFpName" required ng-model="fpname" name="fpname" placeholder="n0call"></input>
<button ng-click="createFingerprint(rangeSelected)" ng-disabled="createForm.$invalid">Save fingerprint</button><br />
<span class="error" ng-show="createForm.fpname.$error.required">Required!</span>
<span class="error" ng-show="createForm.fpname.$error.pattern">Single word only!</span>
</form>
</div>
</div>

<h4>Events
<buttons-radio class="btn-group" data-toggle="buttons-radio"
model='liveModel' options='liveOptions'></buttons-radio>
</h4>

<table class='events'>
<tr><th>Time</th>
	<th>Fingerprint</th>
	<th>Type</th>
	<th>Diff</th>
	<th>FPLen</th>
	<th>Duration</th>
	</tr>
<tr ng-repeat="c in ev" ng-click="rowClick(c);"
	ng-class="{selected: c.id==shownEvent.id, keydown: c.duration==-1}">
	<td>{{ c.t|datetime }}</td>
	<td>{{ c.name }}</td>
	<td>{{ c.event }}</td>
	<td>{{ c.q }}</td>
	<td>{{ c.fplen }}</td>
	<td>{{ c.duration|duration_ms }}</td>
	</tr>
</table>

<script type='text/JavaScript' src='jquery.min.js'></script>
<!--[if lte IE 8]><script type='text/JavaScript' src='excanvas.min.js'></script><![endif]-->
<script type='text/JavaScript' src='jquery.flot.min.js'></script>
<script type='text/JavaScript' src='jquery.flot.selection.min.js'></script>
<script type='text/JavaScript' src='edy.js'></script>

</body>
</html>
